
## 手册

* [PHP The Right Way](http://laravel-china.github.io/php-the-right-way/) 收集 PHP 最佳实践、编码规范和权威学习指南，方便
PHP 开发者阅读和查找
* [Laravel5.1中文文档](http://laravel-china.org/docs/5.1)
* [PHPUnit手册](https://phpunit.de/manual/4.8/zh_cn/installation.html)
* [正则表达式30分钟入门教程](http://www.php-note.com/doc/regex/regex.html)
* [CMake手册](http://www.cnblogs.com/coderfenghc/archive/2013/01/20/2846621.html)
* [Make命令教程](/static/uploads/2016/04/make-command-tutorial.pdf)
* [Autoconf手册](http://www.cnblogs.com/fengwei/p/4394165.html)
* [Automake手册](http://www.gnu.org/software/automake/manual/automake.html)

## 电子书

* [深入理解PHP](http://www.php-internals.com/book/)
* [PHP扩展开发](http://www.walu.cc/phpbook/preface.md)  
* [Redis 设计与实现](http://redisbook.com/)
* [Redis实战](http://redisinaction.com/)

## 项目

* [Swoole](http://www.swoole.com/)
* [Workerman](http://www.workerman.net/)
* [React](http://reactphp.org/)  Event-driven, non-blocking I/O with PHP，类似 Node.js

## 博客
* [[专家]Tim[后端技术]](http://timyang.net/)
* [[专家]风雪之隅](http://www.laruence.com/)
* [[专家]韩天峰(Rango)](http://rango.swoole.com/)
* [[资深]张宴](http://zyan.cc/)
* [[资深]黑夜路人](http://blog.csdn.net/heiyeshuwu)
* [[资深]火丁笔记](http://huoding.com/)
* [[淘宝]信海龙](http://www.bo56.com/)
* [运维与架构](http://www.nginx.cn/)
* [PHP-Note](http://www.php-note.com/)

