<div class="boxed-group flush" role="navigation">
    <h3>Resource Recommend</h3>
    <ul class="boxed-group-inner mini-repo-list">
        {% for resource in site.resource_recommend %}
        <li class="public source ">
            <a href="{{ site.url }}/{{ resource.url }}" target="_blank" title="{{ resource.name }}" class="mini-repo-list-item css-truncate">
                <span class="repo-icon octicon octicon-repo"></span>
                <span class="repo-and-owner css-truncate-target">
                    {{ resource.name }}
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
